html {
  font-size: 14px; 
  font-family: system-ui, sans-serif; 
  line-height: 1.5;
  color: #000400;
  background-color:rgb(242, 242, 242);

}
body {
  margin: 1rem;
  padding: 0;
}

nav {
    color:azure;
    background-color: rgb(54, 121, 54);
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 100%;
    border-radius: 10px;
    box-sizing: border-box;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: azure;
  text-align: center;
  padding: 5px 10px;
  text-decoration: none;
}

ul li a:hover {
  background-color: rgb(4, 88, 4);
  cursor: pointer;
}

a {
  color: azure; 
  text-decoration: none; 
  font-size: 20px;
}
