:root {
  --green: rgb(54, 121, 54);
  --green-dark: rgb(4, 88, 4);
}
html {
  font-size: 20px; /* bazowy rozmiar czcionki */
  font-family: system-ui, sans-serif; /* font systemowy */
  line-height: 1.5; /* lepsza czytelność */
  color: #000400;
  background-color:rgb(242, 242, 242);
}
body {
  margin: 1rem;
  padding: 0;
}

h1 {
  margin: 20px;
}

a {
  color: #0066cc; /* niebieski kolor linków */
  text-decoration: none; /* bez podkreślenia */
  font-size: 1.4rem;
}
a:hover {
  text-decoration: underline; /* podkreślenie przy najechaniu */
}

.count {
  font-size: 15px;
  font-weight: lighter;
}


table {
  border-radius: 10px;
  border: 4px solid var(--green);
  margin: 20px;
  width: 90%;
}

th, td {  
  border: 3px solid var(--green);
  vertical-align: top;
  padding: 10px;
}


button {
  margin: 5px;
  padding: 10px;
  font-size: 18px;
  font-weight:bolder;
  cursor: pointer;
  border-radius: 8px;
  color: white;
  background-color: var(--green);
  border: none;
}

.add, .colorize, .sort {
  width: 100%;
}
button:hover {
  background-color: var(--green-dark);
}

.card {
  
  padding: 10px;
  margin: 10px;
  text-align: left;
  border-radius: 8px;
 
}
.card-content {
  background-color: rgb(239, 239, 236);
  padding: 10px;
  margin: 10px;
  text-align: left;
  border-radius: 5px;
 
}

.card-buttons {
  margin-top: 10px;
}

.delete, .move-left, .move-right, .card-color {
  font-weight: bold;
  background-color: transparent;
  color: var(--green-dark);
  border: 2px solid var(--green-dark);
  padding: 5px;
  cursor: pointer;
}

.delete:hover, .move-left:hover, .move-right:hover, .card-color:hover {
  color: white;
}
